.btn {
  outline: none;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn__fill--red {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 700;
  padding: 1.125rem 2.5625rem;
  border-radius: 2.75rem;
  text-transform: uppercase;
  background-color: #E01F3D;
}
.btn--text {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  background-color: transparent;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.btn__icon {
  outline: none;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.btn__icon--burger {
  background: url("../img/burger.svg") center no-repeat;
}

.input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: none;
  width: 100%;
}
.input-text--w50 {
  width: 50%;
}
.input-text--w25 {
  width: 25%;
}
.input-text__caption {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  margin-bottom: 0.375rem;
  color: #FFFFFF;
}
.input-text__input, .input-text__textarea {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.1875rem transparent;
          box-shadow: 0 0 0 0.1875rem transparent;
  border: none;
  border-radius: 0.25rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  width: 100%;
}
.input-text__input:focus, .input-text__textarea:focus {
  -webkit-box-shadow: 0 0 0 0.1875rem #E01F3D;
          box-shadow: 0 0 0 0.1875rem #E01F3D;
}
.input-text__input {
  height: 3.625rem;
}
@media screen and (max-width: 768px) {
  .input-text__input {
    height: 2.25rem;
  }
}
.input-text__textarea {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  min-height: 9.6875rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .input-text__textarea {
    min-height: 5.125rem;
  }
}

.checkbox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__caption {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.1875rem;
  min-height: 1.5rem;
}
.checkbox__caption::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
}
@media screen and (max-width: 768px) {
  .checkbox__caption {
    padding-top: 1.125rem;
  }
}
.checkbox__input {
  visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
}
.checkbox__input:checked + .checkbox__caption::after {
  content: "";
  margin-right: 0.6875rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/checkmark.svg") center no-repeat;
  position: absolute;
  left: 0;
}

.radio {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radio__caption {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.1875rem;
  min-height: 1.5rem;
}
.radio__caption::before {
  content: "";
  display: block;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
}
.radio__input {
  visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
}
.radio__input:checked + .radio__caption::after {
  content: "";
  margin-right: 0.6875rem;
  display: block;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  background-color: #E01F3D;
  position: absolute;
  left: 0.375rem;
  top: 0.3125rem;
}

.socials__item:nth-of-type(n+2) {
  margin-left: 0.625rem;
}
.socials__item-link svg {
  width: 1.875rem;
  height: 1.875rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: fill;
  transition-property: fill;
  fill: #B3B3B3;
}
@media screen and (max-width: 480px) {
  .socials__item-link svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.socials__item-link:hover svg {
  fill: #000;
}

.context {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.context__control {
  width: 5.625rem;
  height: 5.625rem;
  background-color: #9A9A9A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.25rem;
  cursor: pointer;
}
.context__list {
  display: none;
  position: absolute;
  left: 5.625rem;
  top: 0;
  padding: 1.125rem 0.875rem 1.5rem;
  width: 17.125rem;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.06);
}
.context:hover .context__list {
  display: block;
}
.context__item {
  padding: 0.625rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.context__item:before {
  content: "";
  margin-right: 0.75rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.context__item--grape:before {
  background-image: url("../img/grape.svg");
}
.context__item--nut:before {
  background-image: url("../img/nut.svg");
}
.context__item--almond:before {
  background-image: url("../img/almond.svg");
}
.context__item--powder:before {
  background-image: url("../img/powder.svg");
}
.context__item--apitherapy:before {
  background-image: url("../img/apitherapy.svg");
}
.context__item-value {
  margin-left: auto;
}

.slider {
  position: relative;
}
.slider__arrow {
  position: absolute;
  top: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 1.5rem;
  height: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slider__arrow-left {
  background-image: url("../img/left.svg");
  left: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}
.slider__arrow-right {
  background-image: url("../img/right.svg");
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}
@media screen and (max-width: 768px) {
  .slider__arrow {
    top: 8.75rem;
  }
  .slider__arrow-left {
    left: 0;
    -webkit-transform: translate(280%, 0);
            transform: translate(280%, 0);
  }
  .slider__arrow-right {
    right: 0;
    -webkit-transform: translate(-280%, 0);
            transform: translate(-280%, 0);
  }
}
@media screen and (max-width: 480px) {
  .slider__arrow-left {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .slider__arrow-right {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.burger-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 42px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999;
  background-color: #333537;
}
.burger-menu__btn-close {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/close.svg") center no-repeat;
  background-size: contain;
}
.burger-menu__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.burger-menu__link {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}
.burger-menu.is-opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  height: 100vh;
  min-height: 40.625rem;
}

.map__content {
  height: 100%;
}

.map__content-img {
  max-height: 100%;
  max-width: initial;
  width: auto;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body.is-opened-modal {
  position: fixed;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

.section__title {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}
.section__title--white {
  color: #FFFFFF;
}

.header {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.logo {
  width: 2.5rem;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #292929;
}

.menu__item:nth-of-type(n+2) {
  margin-left: 1.6875rem;
}

.phone-number {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #292929;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  margin-right: 0.375rem;
}

.menu__link {
  text-decoration: none;
}

.header__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 57.1875rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.hero__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hero__content {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__img {
  position: absolute;
  right: 0;
  top: -1.5rem;
  z-index: -1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30.5625rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .hero__img {
    position: static;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 20.1875rem;
  }
}
.hero__img-pic {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
  }
}

.hero__title-caption {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 3.25rem;
  font-weight: 700;
  max-width: 25rem;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .hero__title-caption {
    text-align: center;
    max-width: 41.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-caption {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
}

.hero__decs {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-weight: 400;
  margin-top: 1.375rem;
  max-width: 20.75rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .hero__decs {
    text-align: center;
    max-width: 23.1875rem;
  }
}

.hero__btn {
  margin-top: 3.375rem;
}
@media screen and (max-width: 768px) {
  .hero__btn {
    margin-top: 1.4375rem;
    text-align: center;
    max-width: 10.1875rem;
  }
}

.hero__features {
  margin-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}
.hero__features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 3.5rem;
  max-width: 10.375rem;
}
.hero__features-item:nth-of-type(n+2) {
  margin-left: 0.5rem;
}
.hero__features-text {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-left: 0.6875rem;
  color: #292929;
}

@media screen and (max-width: 768px) {
  .hero__features {
    display: none;
  }
}

.features {
  height: 100vh;
  min-height: 40.625rem;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
}
.features__container::before {
  content: "";
  width: 2.625rem;
  height: 2.625rem;
  background: url("../img/decor-1.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: -1.3125rem;
  right: 2.5rem;
}
@media screen and (max-width: 480px) {
  .features__container {
    padding-top: 2.375rem;
    padding-top: 3.375rem;
  }
}

.features__title {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .features__title {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
}

.features__desc {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-top: 1.125rem;
  max-width: 36.875rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .features__desc {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

.features__list {
  margin-top: 3.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

.features__item {
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
}
@media screen and (max-width: 480px) {
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 2.6875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}
.features__item:nth-of-type(n+2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: url("../img/separator.svg") center no-repeat;
  width: 4.1875rem;
  height: 1.3125rem;
  -webkit-transform: translate(-50%, 3.5rem);
          transform: translate(-50%, 3.5rem);
}
@media screen and (max-width: 480px) {
  .features__item:nth-of-type(n+2)::before {
    display: none;
  }
}
.features__item-title {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 1.5rem;
  text-align: center;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .features__item-title {
    text-align: left;
    margin-top: 0;
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
}
.features__item-desc {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-top: 0.4375rem;
  max-width: 15.4375rem;
  text-align: center;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .features__item-desc {
    text-align: left;
    max-width: 18.875rem;
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 400;
  }
}

.features__icon-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2F5F4;
}
@media screen and (max-width: 480px) {
  .features__icon-wrapp {
    margin-left: 0;
    margin-right: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (max-width: 480px) {
  .features__item-text {
    margin-left: 0.75rem;
  }
}

.reviews {
  height: 100vh;
  min-height: 40.625rem;
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-width: 58.75rem;
}

.reviews__title {
  text-align: center;
}

.reviews__content {
  position: relative;
  margin-top: 2rem;
  padding: 2.625rem;
  background-color: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}
.reviews__content::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: -4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .reviews__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar-wrapp {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
}

.reviews__body {
  margin-top: 2rem;
  margin-left: 2.375rem;
}
.reviews__body-title {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #292929;
}
.reviews__body-desc {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  margin-top: 1.6875rem;
  color: #C4C4C4;
}
.reviews__body-name {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-weight: 700;
  margin-top: 2.375rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .reviews__body-desc {
    text-align: center;
  }
}

.reviews__pagination {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.reviews__pagination-item--active {
  border: 0.25rem solid #E01F3D;
}
.reviews__pagination-item:nth-of-type(n+2) {
  margin-left: 0.375rem;
}
.reviews__pagination-btn {
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.order {
  height: 100vh;
  min-height: 40.625rem;
  background-color: #181818;
  background: url("../img/order-bg.jpg") center bottom no-repeat;
  background-size: cover;
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  max-width: 58.75rem;
}
.order__container::before {
  content: "";
  width: 2.625rem;
  height: 2.625rem;
  background: url("../img/decor-5.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: -1.3125rem;
  right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .order__container {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .order__container {
    width: 100%;
    max-width: 100%;
    padding: 5.375rem 0.1875rem 5.125rem;
  }
}

.order__title {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .order__title {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }
}

.order__form {
  margin-top: 3.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .order__form {
    max-width: 29.125rem;
  }
}
@media screen and (max-width: 480px) {
  .order__form {
    margin-top: 2rem;
  }
}
.order__form-block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.order__form-block .input-text, .order__form-block .checkbox, .order__form-block .radio {
  padding: 0.4375rem 0.5rem;
}
@media screen and (max-width: 768px) {
  .order__form-block {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .order__form-block {
    text-align: initial;
  }
}
.order__form-block:nth-of-type(2) {
  padding-left: 0.75rem;
}
@media screen and (max-width: 768px) {
  .order__form-block:nth-of-type(2) {
    padding-left: 0;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .order__form-block:nth-of-type(2) {
    padding-top: 0;
  }
}
.order__form-radio-group {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .order__form-radio-group {
    margin-top: 0.875rem;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .order__form-checkbox-call {
    margin-left: auto;
    margin-right: auto;
  }
}
.order__form-actions {
  margin-top: 2.75rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .order__form-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .order__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product {
  height: 100vh;
  min-height: 40.625rem;
  background-color: #F8FAF9;
}
.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  max-width: 58.75rem;
}
.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.75rem;
}
@media screen and (max-width: 768px) {
  .product__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}
.product__img {
  max-width: 28.25rem;
}
.product__img-pic {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .product__img {
    max-width: 19.125rem;
  }
}
.product__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 3.6875rem;
}
@media screen and (max-width: 768px) {
  .product__content {
    margin-top: 3.125rem;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .product__context {
    display: none;
  }
}
.product__title {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-weight: 700;
  margin-top: 1.5625rem;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .product__title {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .product__title {
    max-width: 26rem;
  }
}
.product__desc {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  margin-top: 1.5rem;
  color: #666666;
  max-width: 23rem;
}
@media screen and (max-width: 768px) {
  .product__desc {
    margin-top: 0.875rem;
    max-width: 38.375rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .product__desc {
    max-width: 25.75rem;
  }
}
.product__details {
  margin-top: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.product__details-item {
  min-width: 6.5rem;
}
.product__details-item:nth-of-type(n+2) {
  margin-left: 2.75rem;
}
.product__details-caption {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
  color: #666666;
}
.product__details-value {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .product__details {
    margin-top: 1.375rem;
  }
}
.product__order {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__order-price {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  line-height: 3.75rem;
  font-weight: 400;
  color: #151515;
}
.product__order-btn {
  margin-left: 0.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .product__order-btn {
    margin-left: 2.375rem;
  }
}
@media screen and (max-width: 480px) {
  .product__order {
    margin-top: 1.375rem;
  }
  .product__order-price {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 3.75rem;
    font-weight: 400;
    color: #151515;
  }
  .product__order-btn {
    min-height: 3.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.125rem;
  max-width: 60rem;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__address {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .phone-number {
    margin-top: 0.75rem;
  }
}
.phone-number__text {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  .phone-number__text {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-weight: 400;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__socials {
    margin-top: 1.25rem;
  }
}