$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$gray: #f5f5f5;
$gray2: #f2f5f4;
$gray3: #f8faf9;
$gray4: #c4c4c4;
$gray5: #9a9a9a;
$body: #666666;
$white: #ffffff;
$black: #292929;
$black2: #151515;
$black3: #333537;
$red: #e01f3d;

//typography
@mixin typo-1($size, $lh, $weight) {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: $size;
  line-height: $lh;
  font-weight: $weight;
}

@mixin typo-2($size, $lh, $weight) {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: $size;
  line-height: $lh;
  font-weight: $weight;
}

@import "_normalize";

//components
@import "components/_media";
@import "components/_button";
@import "components/_input";
@import "components/_checkbox";
@import "components/_radio";
@import "components/_socials";
@import "components/_contex";
@import "components/_slider";
@import "components/_burger-menu";

//blocks
@import "blocks/_map";
@import "blocks/_layout";
@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_features";
@import "blocks/_reviews";
@import "blocks/_order";
@import "blocks/product";
@import "blocks/_footer";
