$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$gray: #F5F5F5;
$gray2: #F2F5F4;
$gray3: #F8FAF9;
$gray4: #C4C4C4;
$body: #666666;
$white: #FFFFFF;
$black: #292929;
$red: #E01F3D;

//typography
@mixin typo-1 ($size, $lh, $weight) {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: $size;
    line-height: $lh;
    font-weight: $weight;
}

@mixin typo-2 ($size, $lh, $weight) {
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
    font-size: $size;
    line-height: $lh;
    font-weight: $weight;
}

//components
@import "components/_media";
@import "components/_button";
@import "components/_input";
@import "components/_checkbox";
@import "components/_radio";
@import "components/_socials";

//blocks
@import "blocks/_layout";
@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_features";
@import "blocks/_reviews";
@import "blocks/_order";
@import "blocks/_footer";
