.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;

    &__caption {
        @include typo-1(rem(16px), rem(19px), 400);
        color: $white;
        position: relative;
        user-select: none;
        display: flex;
        align-items: center;
        padding-left: rem(24px) + rem(11px);
        min-height: rem(24px);

        &::before {
            content: '';
            display: block;
            width: rem(24px);
            height: rem(24px);
            border-radius: rem(4px);
            background-color: $white;
            position: absolute;
            left: 0;
        }

        @include tablets {
            padding-top: rem(18px);
        }
    }

    &__input {
        visibility: hidden;
        pointer-events: none;
        width: 0;
        height: 0;

        &:checked + .checkbox__caption::after {
            content: '';
            margin-right: rem(11px);
            display: block;
            width: rem(24px);
            height: rem(24px);
            background: url('../img/checkmark.svg') center no-repeat;
            position: absolute;
            left: 0;
        }
    }
}