.input-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: none;
    width: 100%;

    &--w50 {
        width: 50%;
    }

    &--w25 {
        width: 25%;
    }
    
    &__caption {
        @include typo-1(rem(16px), rem(19px), 400);
        margin-bottom: rem(6px);
        color: $white;
        
    }
    
    &__input,
    &__textarea {
        padding-left: rem(12px);
        padding-right: rem(12px);
        outline: none;
        box-shadow: 0 0 0 rem(3px) transparent;
        border: none;
        border-radius: rem(4px);
        transition-duration: .3s;
        transition-property: box-shadow;
        width: 100%;

        &:focus {
            box-shadow: 0 0 0 rem(3px) $red;
        }
    }

    &__input {
        height: rem(58px);

        @include tablets {
            height: rem(36px);
        }
    }

    &__textarea {
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        min-height: rem(155px);
        resize: none;

        @include tablets {
            min-height: rem(82px);
        }
    }
}