.slider {
    position: relative;
    &__arrow {
        position: absolute;
        top: 50%;
        
        background-color: transparent;
        outline: none;
        cursor: pointer;
        border: none;
        padding: 0;
        width: rem(24px);
        height: rem(40px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &-prev {
            background-image: url('../img/left.svg');
            left: 0;
            transform: translate(-100%, -50%);
        }

        &-next {
            background-image: url('../img/right.svg');
            right: 0;
            transform: translate(100%, -50%);
        }

        @include tablets {
            top: 50%;
            z-index: 1;

            &-prev {
                left: 0;
                transform: translate(280%, -440%);
            }
    
            &-next {
                right: 0;
                transform: translate(-280%, -440%);
            }
        }

        @include phones {
            &-prev {
                transform: translate(0, -440%);
            }
    
            &-next {
                transform: translate(0, -440%);
            }
        }
    }
}
