.socials__item {
    &:nth-of-type(n+2) {
        margin-left: rem(10px); 
    }

    &-link svg {
        width: rem(30px);
        height: rem(30px);
        transition-duration: .3s;
        transition-property: fill;
        fill: #B3B3B3;

        @include phones {
            width: rem(24px);
            height: rem(24px);
        }
    }

    &-link:hover svg {
        fill: #000;
    }
}