.header {
    padding-top: rem(24px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.logo {
    width: rem(40px);
}

.menu {
    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;

    
}

.menu__item {
    @include typo-2(rem(18px), rem(20px), 400);
    color: $black;
}

.menu__item:nth-of-type(n+2) {
    margin-left: rem(27px);
}

.phone-number {
    @include typo-1(rem(18px), rem(18px), 400);
    color: $black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-elem {
    margin-right: rem(6px);
}

.menu__link {
    text-decoration: none;
}

.header__burger {
    display: none;

    @include tablets {
        display: inline-flex;
    }
}
