.order {
    height: 100vh;
    min-height: 650px;
    background-color: #181818;
    background: url('../img/order-bg.jpg') center bottom no-repeat;
    background-size: cover;
}

.order__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;

    &::before {
        content: '';
        width: 42px;
        height: 42px;
        background: url('../img/decor-5.svg') center no-repeat;
        background-size: contain;
        position: absolute;
        top: -21px;
        right: 40px;
    }
}

.order__title {
    text-align: center;
}

.order__form {
    margin-top: 61px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &-block {
        width: 100%;
        max-width: 462px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: -7px -8px;

        & .input-text,
        & .checkbox,
        & .radio {
            padding: 7px 8px;
        }
    }

    &-block:nth-of-type(2) {
        padding-left: 28px;
    }

    &-radio-group {
        margin-top: 24px;
        display: flex;
    }

    &-actions {
        margin-top: 44px;
    }
}