.order {
    height: 100%;
    min-height: rem(650px);
    background-color: #181818;
    background: url('../img/order-bg.jpg') center bottom no-repeat;
    background-size: cover;
}

.order__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    max-width: rem(940px);

    &::before {
        content: '';
        width: rem(42px);
        height: rem(42px);
        background: url('../img/decor-5.svg') center no-repeat;
        background-size: contain;
        position: absolute;
        top: rem(-21px);
        right: rem(40px);
    }

    @include tablets {
        max-width: 100%;
    }
    
    @include phones {
        width: 100%;
        max-width: 100%;
        padding: rem(86px) rem(3px) rem(82px);
    }
}

.order__title {
    text-align: center;

    @include phones {
        @include typo-1(32px, 36px, 700);
    }
}

.order__form {
    margin-top: rem(61px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include tablets {
        max-width: rem(466px);
    }

    @include phones {
        margin-top: rem(32px);
    }

    &-block {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        & .input-text,
        & .checkbox,
        & .radio {
            padding: rem(7px) rem(8px);
        }
        
        @include tablets {
            width: 100%;
        }

        @include phones {
            text-align: initial;
        }
    }

    &-block:nth-of-type(2) {
        padding-left: rem(12px);

        @include tablets {
            padding-left: 0;
            padding-top: rem(16px);
        }

        @include phones {
            padding-top: 0;
        }
    }

    &-radio-group {
        margin-top: rem(24px);
        display: flex;
        
        @include phones {
            margin-top: rem(14px);
            width: 100%;
            justify-content: center;
        }
    }

    &-checkbox-call {
        @include phones {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-actions {
        margin-top: rem(44px);
        width: 100%;

        @include tablets {
           display: flex;
           justify-content: center;
        }
    }


    @include tablets {
        display: flex;
        flex-direction: column;
    }
}